.col-md-6.col-sm-10.offset-md-3
  = bootstrap_form_tag(url: update_password_reset_path, inline_errors: false, method: 'patch') do |f|
    = f.password_field :password
    = f.hidden_field :token, value: @token
    = f.password_field :password_confirmation
    = f.submit "Change Password", class: "btn btn-primary"
