!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport",content: "width=device-width, initial-scale=1"}
    =favicon_link_tag
    %title Dumbfound: SMS text service for getting directions for driving, transit on your mobile cell phone
    %meta{name: "description", content: "A free service that allows you to get driving or transit directions to your mobile phone through SMS text. No data required"}/
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header_title.col-md-4.col-sm-10 DumbFound
    .navlinks.col-md-3.col-sm-12
      %span 
        =link_to "Register",new_user_path 
      %span 
        =link_to "Instructions",instructions_path 
      %span
        - if logged_in?
          = link_to "Logout", session_path(id: current_user.id), method: "delete"
        -else
          = link_to "Login", new_session_path
    = yield
